<center>
</br>
<%= image_tag("logo2.jpg", :alt => "rss feed", :class =>"icon",style:"height:70px ; width: 70px;",class:"photo") %>
<h4 color="white"> Informatics </h4>
<p color="white">
Department of Computer Science </br>
Head of Department</br>
Mr. Mummadi Venugopal Reddy </br>	
email:mvr@kakatiya.ac.in</br>
phn.no:7382044364</br>
</p>
</center>